<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/PlaygroundPage2.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/PlaygroundPage4.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/PlaygroundPage5.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/PlaygroundPage7.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/Alphabet.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/AppColors.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/ConfigurePlugboardViewController.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/ConfigureRotorsViewController.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/DIYMachineView.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/DIYMachineViewController.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/EnigmaMachineView.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/EnigmaMachineViewController.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/Extensions.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/KeyboardKeys.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/Plugboard.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/PlugboardView.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/Protocols.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/Reflector.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/Rotor.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/RotorsNumber.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/Structs.swift</key>
		<string>Added</string>
		<key>UserModules/EnigmaMachine.playgroundmodule/Sources/keyCell.swift</key>
		<string>Added</string>
		<key>UserModules/Letters.playgroundmodule/Sources/AppColors.swift</key>
		<string>Added</string>
		<key>UserModules/Letters.playgroundmodule/Sources/Extensions.swift</key>
		<string>Added</string>
		<key>UserModules/Letters.playgroundmodule/Sources/LetterViewController.swift</key>
		<string>Added</string>
		<key>UserModules/Letters.playgroundmodule/Sources/LoadingViewController.swift</key>
		<string>Added</string>
		<key>UserModules/Letters.playgroundmodule/Sources/Protocols.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
